<!DOCTYPE html>
<html>
<head>
    <title></title>

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/nv.d3.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/bootstrap.min.css") }}"/>
{% endblock %}
</head>
<body>

{% block body_all %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            {% with messages = get_flashed_messages(with_categories = True) %}
                {% for category, message in messages %}
                    <div class="alert alert-{% if category == 'error' %}danger{% elif category == 'success' %}success{% else %}info{% endif %}">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endwith %}
            </div>
        </div>

        {% block body %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for("static", filename="js/jquery-2.1.1.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/d3.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/nv.d3.js") }}"></script>
{% endblock %}
</body>
</html>