{% extends "base.html" %}

{% block body %}

    <div class="container">

        <row>
            <div class="col-sm-6 col-sm-offset-3">
                <p>
                    The Database seems to be properly installed.
                    Welcome to PyBilling!
                </p>
            </div>
        </row>



        <row>
            <div class="col-sm-2 col-sm-offset-5">
                <a href="{{ url_for("test") }}" class="btn btn-success">View Analytics</a>
            </div>
        </row>

        <hr>
        <br>

         <row>
            <div class="col-sm-2">
                <a href="{{ url_for("addapp") }}" class="btn btn-warning">Add Test Applications</a>
            </div>
        </row>

         <row>
            <div class="col-sm-2">
                <a href="{{ url_for("addhits") }}" class="btn btn-warning">Add Test Hits</a>
            </div>
        </row>
    </div>




{% endblock %}