{% extends "base.html" %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col col-xs-12 well" style="margin-top: 20px">
                <legend>PyBilling</legend>
                <p><strong>Status:</strong> Database properly deployed.</p>


                <div class="row">
                    <div class="col col-sm-2 col-sm-offset-0">
                        <a href="{{ url_for("chart") }}" class="btn btn-success">View Analytics</a>
                    </div>
                </div>

                <div style="margin: 20px"></div>


                <div class="row">
                    <div class="col col-sm-2">
                        <a href="{{ url_for("addapp") }}" class="btn btn-warning">Add Test Applications</a>
                    </div>
                    <div class="col col-sm-2 col-sm-push-1">
                        <a href="{{ url_for("addhits") }}" class="btn btn-warning">Add Test Hits</a>
                    </div>
                </div>

                <div class="row">

                </div>


            </div>


        </div>


    </div>




{% endblock %}